* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.hide {
  display: none;
}
header {
  width: 100%;
  height: 69px;
  background-color: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.allQuizzes {
  width: 80%;
  margin-top: 50px;
}
.title h3 {
  font-weight: 700;
  font-size: 20px;
}
.quizz {
  position: relative;
  width: 340px;
  margin: 20px 15px 0 0;
}
.quizz img {
  width: 340px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.quizzTitle {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 150px;
  left: 10px;
  text-shadow: 2px 1.5px rgba(0, 0, 0, 0.5);
}
.todosQuizzes {
  display: flex;
  flex-wrap: wrap;
}
